<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $cfg_soft_lang;?>" />
<title><?php echo $cfg_ask_sitename;?></title>
    <link href="static/style/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form name="form2" action="?ct=index&ac=use_vcode" method="post" style="padding-top: 15px;">
    <?php if(!empty($id)){?>
    <?php }?>
    <table width="98%" border="0" cellpadding="1" cellspacing="1" align="center" class="tbtitle" style="background:#E2F5BC;margin-bottom:6px;">
            <td width="150" height="20" align="right" bgcolor="#FFFFFF">输入序列号：</td>
            <td height="20" bgcolor="#FFFFFF">
                <input type="text" name="vcode" value="" />
            </td>
        </tr>
        <tr>
            <td height="35" bgcolor="#FFFFFF">&nbsp;</td>
            <td height="20" bgcolor="#FFFFFF"><input type="submit" name="submit2" value="提交" class="np coolbg"/></td>
        </tr>
    </table>
</form>
</body>
</html>
